<div class="row mt-5">
    <div class="col-12 col-md-6 mb-4 text-center">
        <a href="/" class="btn dark">
            Cancelar
            <i class="flaticon-arrow-point-to-right"></i>
        </a>
    </div>
    <div class="col-12 col-md-6 mb-4 text-center">
        <button id="next" class="btn dark">
            Siguiente
            <i class="flaticon-arrow-point-to-right"></i>
        </button>
    </div>
</div>