<div class="tab-pane fade" id="assistants" role="tabpanel" aria-labelledby="assistants-tab">
    <div class="mb-5">
        <p class="grey-text">
            Completa los siguientes campos <br>
            sobre los asistentes al evento
        </p>
    </div>
    <div id="forms">
        <form name="assistantForm" action="">
            <div class="form-group row mb-4">
                <div class="col-12 col-lg mb-4">
                    <label for="agreeting">Saludo</label>
                    <input type="text" id="agreeting" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="aname">Nombres</label>
                    <input type="text" id="aname" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="alastName">Apellidos</label>
                    <input type="text" id="alastName" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="aorganization">Organización</label>
                    <input type="text" id="aorganization" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="aposition">Cargo</label>
                    <input type="text" id="aposition" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="aaddress">Dirección</label>
                    <input type="text" id="aaddress" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="aphone">Teléfono</label>
                    <input type="text" id="aphone" class="form-control" required>
                </div>
                <div class="col-12 col-lg mb-4">
                    <label for="aemail">E-mail</label>
                    <input type="text" id="aemail" class="form-control" required>
                </div>
            </div>
        </form>
    </div>
    <div class="my-5">
        <button id="addAssistant" class="btn light">
            Agregar asistente
            <i class="flaticon-arrow-point-to-right"></i>
        </button>
    </div>
</div>
