<div class="tab-pane fade show active" id="data" role="tabpanel" aria-labelledby="data-tab">

    <div class="row">
        <div class="col-12 px-0">
            <div class="mb-5">
                <p class="grey-text">
                    Completa los datos de la persona <br>
                    encargada del registro
                </p>
                <p class="grey-text mt-4">(<span class="fc-red">*</span>) Campo obligatorio</p>
            </div>
        </div>
    </div>
    <form action="">
        <div class="form-group row mb-4">
            <label for="greeting" class="col-12 col-md-3">Saludo</label>
            <input type="text" id="greeting" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="name" class="col-12 col-md-3">Nombres</label>
            <input type="text" id="name" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="lastName" class="col-12 col-md-3">Apellidos</label>
            <input type="text" id="lastName" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="organization" class="col-12 col-md-3">Organización</label>
            <input type="text" id="organization" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="position" class="col-12 col-md-3">Cargo</label>
            <input type="text" id="position" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="address" class="col-12 col-md-3">Dirección</label>
            <input type="text" id="address" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="phone" class="col-12 col-md-3">Teléfono</label>
            <input type="text" id="phone" class="form-control col-12 col-md-9" required="true">
        </div>
        <div class="form-group row mb-4">
            <label for="email" class="col-12 col-md-3">E-mail</label>
            <input type="text" id="email" class="form-control col-12 col-md-9" required="true">
            <div class="col-12 col-md-9 offset-md-3 mt-2 <%= (registerType !== 'student' ? 'd-none' : '') %>">
                <span class="grey-text">Registrarse con el correo que le otorga la universidad</span>
            </div>
        </div>
        <div class="form-group row mb-4 <%= (registerType !== 'delegate' ? 'd-none' : '') %>">
            <label for="promocode" class="col-12 col-md-3">Promocode</label>
            <input type="text" id="promocode" class="form-control col-12 col-md-9" required="true">
            <div class="col-12 col-md-9 offset-md-3 mt-2 <%= (registerType !== 'student' ? 'd-none' : '') %>">
                <span class="grey-text">Registrarse con el correo que le otorga la universidad</span>
            </div>
        </div>
        <div class="form-group row student <%= (registerType !== 'student' ? 'd-none' : '') %>">
            <div class="col-12 px-0">
                <p class="grey-text">Validar registro <span class="fc-red">*</span></p>
                <p class="fw-bold fs-15 fc-grey my-4 text-center">Agregar Carnet de estudiante</p>
                <p class="fs-17 fc-marine-blue my-4 text-center">Subir Archivos</p>
            </div>
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile03"
                        aria-describedby="inputGroupFileAddon03">
                    <label class="custom-file-label" for="inputGroupFile03">
                        Arrastre y suelte aquí
                        o Buscar
                    </label>
                </div>
            </div>
            <button class="btn dark save-file mt-4">Guardar</button>
        </div>
        <div class="form-group row my-5">
            <label for="assistant" class="col-12 col-md-6">Participaré como asistente de la conferencia</label>
            <div class="col-12 col-md-6 text-center">
                <div class="custom-control custom-radio custom-control-inline px-5">
                    <input type="radio" id="yes" name="assistant" class="custom-control-input">
                    <label class="custom-control-label" for="yes">Sí</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline px-5">
                    <input type="radio" id="no" name="assistant" class="custom-control-input">
                    <label class="custom-control-label" for="no">No</label>
                </div>
            </div>
        </div>
    </form>

</div>