<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <form name="info" action="">
        <div class="radios my-0 d-lg-flex justify-content-between">
            <div class="radio">
                <p class="grey-text">Nombres y apellidos</p>
                <p class="grey-text">Antonio Olson</p>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Acepta términos de uso <br>
                    de datos personales
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="data" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="data"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="radio">
                <p class="grey-text">
                    Participará en el <br>
                    almuerzo del evento
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="lunch" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="lunch"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Participará en el cótel<br>
                    del evento
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="cocktail" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="cocktail"></label>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="radio">
                <p class="grey-text">
                    Vegetariano
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="vegetarian" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="vegetarian"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Celíaco
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="celiac" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="celiac"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>