<div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
    <form name="info" action="">
        <div class="radios my-0 d-lg-flex justify-content-between">
            <div class="radio">
                <p class="grey-text">Nombres y apellidos</p>
                <p class="grey-text">Antonio Olson</p>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Preforo
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="preforo" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="preforo"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Foro
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="foro" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="foro"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Preforo + Foro
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="preforoForo" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="preforoForo"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Participará en el <br>
                    almuerzo del evento
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-checkbox custom-control-inline m-0">
                            <input type="checkbox" id="lunch" name="lunch" class="custom-control-input">
                            <label class="custom-control-label" for="lunch"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="radio">
                <p class="grey-text">
                    Participará en el cótel<br>
                    del evento
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="cocktail" name="info" class="custom-control-input">
                            <label class="custom-control-label" for="cocktail"></label>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="radio">
                <p class="grey-text">
                    Vegetariano
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-checkbox custom-control-inline m-0">
                            <input type="checkbox" id="vegetarian" name="vegetarian" class="custom-control-input">
                            <label class="custom-control-label" for="vegetarian"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Celíaco
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-checkbox custom-control-inline m-0">
                            <input type="checkbox" id="celiac" name="celiac" class="custom-control-input">
                            <label class="custom-control-label" for="celiac"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>