<div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
    <div class="row">
        <div class="col-12 col-md-12 mb-5">
            <p class="fw-bold fs-30 fc-twilight-blue">
                Método de pago
            </p>
        </div>
        <div class="col-12 col-md-12">
            <div class="row">
                <% tickets.forEach((ticket, i) => { %>
                    <div class="col-12 col-md-6 mb-5">
                        <div class="ticket">
                            <div class="text-center mr-4">
                                <p class="fw-extra-light fs-27">29</p>
                                <p class="fw-extra-light fs-14">NOV</p>
                            </div>
                            <div>
                                <p class="fw-medium fs-14 fc-twilight-blue">
                                    6th Latin American Forum on <br>
                                    Quality and Safety in Healthcare
                                </p>
                                <p class="fw-medium fs-12 fc-grey-b mt-4">
                                    Almuerzo | cóctel | Workshop 1
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="fw-medium fs-14 fc-light-grey mt-5">
                                Antonio Olson
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>
            <form action="" class="tdc-form">
                <div class="form-group row">
                    <div class="col-12 mb-4">
                        <label for="fullName">Nombre completo</label>
                        <input type="text" id="fullName" class="form-control" required>
                    </div>
                    <div class="col-12 mb-4">
                        <label for="cardNumber">Número de tarjeta</label>
                    <input type="text" id="cardNumber" class="form-control" placeholder="0000 0000 0000 0000" required>
                    </div>
                    <div class="col-12 col-md-6 mb-4">
                        <label for="expiration">Fecha de expiración</label>
                        <input type="text" id="expiration" class="form-control" placeholder="MM / AA" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="cvc">CVC</label>
                        <input type="text" id="cvc" class="form-control" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>
