<div class="tab-pane fade" id="ticket" role="tabpanel" aria-labelledby="ticket-tab">
    <form name="ticket" action="">
        <div class="radios my-0 d-lg-flex justify-content-between">
            <div class="radio">
                <p class="grey-text">Nombres y apellidos</p>
                <p class="grey-text">Antonio Olson</p>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Preforo <br>
                    28/09
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="preforo" name="ticket" class="custom-control-input">
                            <label class="custom-control-label" for="preforo"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Foro<br>
                    28/09 - 29/09
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="foro" name="ticket" class="custom-control-input">
                            <label class="custom-control-label" for="foro"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="radio">
                <p class="grey-text">
                    Preforo + Foro<br>
                    28/09 - 29/09 - 30/09
                </p>
                <div class="form-group">
                    <div class="text-center">
                        <div class="custom-control custom-radio custom-control-inline m-0">
                            <input type="radio" id="preforoForo" name="ticket" class="custom-control-input">
                            <label class="custom-control-label" for="preforoForo"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>