<div class="tab-pane fade" id="workshops" role="tabpanel" aria-labelledby="workshops-tab">
    <p class="grey-text">
        Por favor seleccione el workshop al que desea asistir. Ir a <span class="fc-twilight-blue">programa.</span> <br>
        La capacidad de cupos para los workshops es limitada y estos se irán cubriendo según se confirme el registro de
        los participantes. Una vez que se alcance el tope de cupos para un determinado workshop, el registro será
        deshabilitado.
        En caso desee realizar algún cambio posterior al registro por favor contactarnos a través del siguiente correo
        insuranceday@apeseg.org.pe.
    </p>
    <div class="radios d-lg-flex justify-content-between">
        <div class="radio">
            <p class="grey-text">Nombres y apellidos</p>
            <p class="grey-text">Antonio Olson</p>
        </div>
        <div class="radio">
            <p class="grey-text">
                Workshop 1- <br>
                Bancaseguros
            </p>
            <div class="form-group">
                <div class="text-center">
                    <div class="custom-control custom-radio custom-control-inline m-0">
                        <input type="radio" id="workshop1" name="workshop" class="custom-control-input">
                        <label class="custom-control-label" for="workshop1"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="radio">
            <p class="grey-text">
                Workshop 2- Agentes <br>
                y corredores
            </p>
            <div class="form-group">
                <div class="text-center">
                    <div class="custom-control custom-radio custom-control-inline m-0">
                        <input type="radio" id="workshop2" name="workshop" class="custom-control-input">
                        <label class="custom-control-label" for="workshop2"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="radio">
            <p class="grey-text">
                Workshop 3- Analática <br>
                avanzada
            </p>
            <div class="form-group">
                <div class="text-center">
                    <div class="custom-control custom-radio custom-control-inline m-0">
                        <input type="radio" id="workshop3" name="workshop" class="custom-control-input">
                        <label class="custom-control-label" for="workshop3"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="radio">
            <p class="grey-text">
                Workshop 4- <br>
                Salud digital
            </p>
            <div class="form-group">
                <div class="text-center">
                    <div class="custom-control custom-radio custom-control-inline m-0">
                        <input type="radio" id="workshop4" name="workshop" class="custom-control-input">
                        <label class="custom-control-label" for="workshop4"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
