<div class="tab-pane fade" id="workshops" role="tabpanel" aria-labelledby="workshops-tab">
    <p class="grey-text">
        Por favor seleccione el workshop al que desea asistir. Ir a <span class="fc-twilight-blue">programa</span>
        La capacidad de cupos para los workshops es limitada y estos se irán cubriendo según se confirme el registro de
        los participantes. Una vez que se alcance el tope de cupos para un determinado workshop, el registro será
        deshabilitado.
        En caso desee realizar algún cambio posterior al registro por favor contactarnos a través del siguiente correo
        insuranceday@apeseg.org.pe.
    </p>
    <%- include('./action-buttons.ejs'); -%>
</div>
