<section class="stay">
    <section class="background view">
        <h1 class="title-with-stroke">
            <span>Conoce más </span>
            <span>de Lima.</span>
        </h1>
    </section>
    <section class="accommodation">
        <div>
            <div class="container">
                <h2 class="gold-title mb-0">Agenda</h2>
                <h3 class="twilight-blue-subtitle">
                    Alojamientos <br>
                    y servicios.
                </h3>
            </div>
            <div class="hotels">
                <div class="hotel-marriot">
                    <div>
                        <p class="name">AC Hotel by Marriott</p>
                        <p class="location">
                            Malecón de la Reserva, <br>
                            Lima 15074, Perú
                        </p>
                    </div>
                    <div class="mt-auto">
                        <a href="#" class="btn light">
                            Contactar
                            <i class="flaticon-arrow-point-to-right"></i>
                        </a>
                    </div>
                </div>
                <div class="locations">
                    <i class="flaticon-tourism"></i>
                    <h3 class="where-to-go">A donde ir</h3>
                    <div class="divider"></div>
                    <div class="item">
                        <p class="title">Paseo en barco por <br> las Islas Palomino</p>
                        <p class="description">
                            ¿Amante de la naturaleza? Surca las aguas del Pacífico Sur y explora la atractiva vida marina
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="item">
                        <p class="title">Tour privado por Lima</p>
                        <p class="description">
                            Lima, llena de influencias y secretos, te espera para que descubras sus rincones más populares
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="item">
                        <p class="title">Autobús turístico de Lima</p>
                        <p class="description">
                            Descubre por qué Lima es conocida como la Ciudad de los Reyes en un autobús descapotable.
                        </p>
                    </div>
                </div>
                <div class="hyatt-centric">
                    <div class="wallpaper"></div>
                    <div class="content">
                        <img src="../img/brands/hyatt-centric-logo.png" alt="Hyatt Centric">
                        <div class="divider"></div>
                        <p class="fs-13 fw-medium">
                            Ubicado en el distrito corporativo de Lima, Hyatt Centric San Isidro Lima te ubica cerca de
                            importantes empresas, embajadas y notables restaurantes.
                        </p>
                        <div class="divider"></div>
                        <a href="#" class="btn dark">
                            Ver Website del hotel
                            <i class="flaticon-arrow-point-to-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>