<section class="expositors">
    <section class="background view">
        <h1 class="title-with-stroke">
            <span>Nuestros</span>
            <span>Expositores</span>
        </h1>
    </section>
    <section class="guests">
        <div class="container trama">
            <h2 class="gold-title mb-0">Invitados</h2>
            <h3 class="twilight-blue-subtitle">
                Nuestros ponentes <br>
                esperan por ti.
            </h3>
            <div class="buttons">
                <button class="btn light">
                    Expositores 1
                    <i class="flaticon-arrow-point-to-right"></i>
                </button>
                <button class="btn light">
                    Expositores 2
                    <i class="flaticon-arrow-point-to-right"></i>
                </button>
                <button class="btn light">
                    Expositores 3
                    <i class="flaticon-arrow-point-to-right"></i>
                </button>
            </div>
            <div class="lists">

                <div class="expositors-list">

                    <div class="expositor" style="background-image: url('img/expositors/image1.jpg');">
                        <div>
                            <p class="name">Isaiah</p>
                            <p class="name">Anderson</p>
                            <p class="position">Vice Presitende Netflix</p>
                        </div>
                        <div class="social-networks mt-auto">
                            <a href="#">
                                <i class="flaticon-facebook-logo mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-twitter mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </div>
                    </div>

                    <div class="expositor" style="background-image: url('img/expositors/image2.jpg');">
                        <div>
                            <p class="name">Isaiah</p>
                            <p class="name">Anderson</p>
                            <p class="position">Vice Presitende Netflix</p>
                        </div>
                        <div class="social-networks mt-auto">
                            <a href="#">
                                <i class="flaticon-facebook-logo mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-twitter mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </div>
                    </div>

                    <div class="expositor" style="background-image: url('img/expositors/image3.jpg');">
                        <div>
                            <p class="name">Isaiah</p>
                            <p class="name">Anderson</p>
                            <p class="position">Vice Presitende Netflix</p>
                        </div>
                        <div class="social-networks mt-auto">
                            <a href="#">
                                <i class="flaticon-facebook-logo mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-twitter mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="expositors-list">

                    <div class="expositor" style="background-image: url('img/expositors/image4.jpg');">
                        <div>
                            <p class="name">Isaiah</p>
                            <p class="name">Anderson</p>
                            <p class="position">Vice Presitende Netflix</p>
                        </div>
                        <div class="social-networks mt-auto">
                            <a href="#">
                                <i class="flaticon-facebook-logo mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-twitter mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </div>
                    </div>

                    <div class="expositor" style="background-image: url('img/expositors/image5.jpg');">
                        <div>
                            <p class="name">Isaiah</p>
                            <p class="name">Anderson</p>
                            <p class="position">Vice Presitende Netflix</p>
                        </div>
                        <div class="social-networks mt-auto">
                            <a href="#">
                                <i class="flaticon-facebook-logo mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-twitter mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </div>
                    </div>

                    <div class="expositor" style="background-image: url('img/expositors/image0.jpg');">
                        <div>
                            <p class="name">Isaiah</p>
                            <p class="name">Anderson</p>
                            <p class="position">Vice Presitende Netflix</p>
                        </div>
                        <div class="social-networks mt-auto">
                            <a href="#">
                                <i class="flaticon-facebook-logo mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-twitter mr-3"></i>
                            </a>
                            <a href="#">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</section>