.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    .nav {
        min-height: 100vh;
        justify-content: flex-end;

        .menu {
            height: max-content;
            padding: 10px;
            margin: 1.25rem 2rem;
            border-radius: 8px;
            background-color: $white;
            box-shadow: 0 2px 32px 18px rgba(0, 0, 0, 0.2);

            .menu-item {
                display: block;
                width: 25px;
                height: 4px;
                border-radius: 8px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 3px;
                background-color: $mine-grey;
            }

            p {
                margin-top: 5px;
                font-size: 10px;
                color: $mine-grey;
            }
        }

        .navigation-bar {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 2;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            min-height: 100vh;
            background-color: $white;

            /*&.slide-in {
                animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }*/
            
            li {
                padding: 1.25rem 0.5rem;
                text-align:center;

                &.close-x {
                    padding: 1.25rem 2rem;
                    margin-left: auto;
                    font-size: 30px;
                    font-weight: 500;
                    color: $mine-grey;
                }

                &.brands {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 0;
                    padding-bottom: 0;

                    > div {
                        flex-basis: 33.333%;
                        padding: 0 0.5rem;

                        &:first-child {
                            border-right: 1px solid $high-grey;
                        }
                    }

                    a{
                        opacity: 1;
                    }

                    .top-text {
                        position: absolute;
                        top: -20px;
                        font-size: 10px;
                        font-weight: 500;
                        color: $twilight-blue;

                        &.organize {
                            left: calc(15% - 10px);
                        }

                        &.alliance {
                            left: calc(66.666% - 35px);
                        }
                    }

                }

                a {
                    color: $twilight-blue;
                    font-weight: 500;
                    opacity: 0.6;

                    &.dark {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header {
        .nav {
            min-height: auto;

            .menu {
                display: none;
            }

            .navigation-bar {
                position: relative;
                left: 0;
                flex-direction: row;
                justify-content: space-evenly;
                min-height: auto;
                margin: 2rem 2.5rem;
                padding: 1rem;
                padding-top: 1.5rem;
                border-radius: 15px;

                li {
                    &:first-child {
                        display: none;
                    }

                    &.brands {

                        .top-text {
                            &.alliance {
                                top: -16px;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .header {
        .nav {
            .navigation-bar {
                max-width: 1400px;
                margin: 2rem auto;
            }
        }
    }
}