<header class="header">
    <nav class="nav">
        <div id="menu" class="menu">
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <span class="menu-item"></span>
            <p>Menú</p>
        </div>
        <ul id="navbar" class="navigation-bar">
            <li id="close" class="close-x">X</li>
            <li class="brands">
                <p class="top-text organize">Organiza</p>
                <div>
                    <img src="img/brands/clinica-anglo-americana.png" alt="Clínica Anglo Americana">
                </div>
                <div>
                    <img src="img/brands/sbiae.png" alt="Albert Einstein">
                </div>
                <div>
                    <img src="img/brands/ihi.png" alt="Institude of Healthcare Improvement">
                </div>
                <p class="top-text alliance">En alianza con</p>
                <!--<a href="/" class="dark">
                </a>-->
            </li>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/expositors">Expositores</a>
            </li>
            <li>
                <a href="/schedule">Programa</a>
            </li>
            <li>
                <a href="/stay">Información<br>Turística</a>
            </li>
            <li>
                <a href="/papers">Trabajos de<br>Investigación</a>
            </li>
            <!-- <li>
                <a href="site">Lugar</a>
            </li> -->
            <li>
                <a href="#" class="dark">
                    Contacto
                    <i class="flaticon-arrow-point-to-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>