<header class="header">
    <nav class="nav">
        <ul>
            <li>
                <img src="img/brands/clinica-anglo-americana.png" alt="Clínica Anglo Americana">
            </li>
            <li>
                <img src="img/brands/sbiae.png" alt="Albert Einstein">
            </li>
            <li>
                <img src="img/brands/ihi.png" alt="Institude of Healthcare Improvement">
            </li>
            <li>
                <a href="/expositors">Expositores</a>
            </li>
            <li>
                <a href="/schedule">Programa</a>
            </li>
            <li>
                <a href="#">Estadía</a>
            </li>
            <li>
                <a href="#">Lugar</a>
            </li>
            <li>
                <a href="#" class="dark">
                    Comprar entradas
                    <i class="flaticon-arrow-point-to-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>