<footer>
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="social m-auto m-md-0">
                    <p class="fs-12 fw-medium fc-white opacity-4 lh-15 mt-5 mb-4">
                        Now, if you are interested in being the best player, getting really good money and knowing some
                        tricks and
                        advices of what to do in a live.
                    </p>
                    <div class="social-networks">
                        <a href="#">
                            <i class="flaticon-facebook-logo mr-3"></i>
                        </a>
                        <a href="#">
                            <i class="flaticon-twitter mr-3"></i>
                        </a>
                        <a href="#">
                            <i class="flaticon-instagram"></i>
                        </a>
                    </div>
                    <p class="fs-13 fw-medium fc-white opacity-4 mt-4">© 2019 Auspicios</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="contact m-auto">
                    <p class="ff-axia fs-23 fc-white mt-5 mt-md-3 mb-5">Contacto</p>
                    <ul class="fs-13 fw-medium fc-white opacity-4">
                        <li class="mb-4">foro2020@angloamericana.com.pe</li>
                        <li>Teléfono : 610 7272 (opcion 1)</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-md-0">
                <div class="newsletter m-auto ml-md-auto">
                    <p class="ff-axia fs-23 fc-white mt-5 mt-md-3 mb-5">Suscríbete</p>
                    <p class="fs-12 fw-medium fc-white opacity-4 lh-15 my-4">
                        ¡No te pierdas nada! Suscríbete para recibir noticias.
                    </p>
                    <div class="form-group">
                        <label for="subscribeEmail">Correo electrónico</label>
                        <input type="text" id="subscribeEmail" class="form-control" autocomplete="off">
                    </div>
                    <div class="meftah">
                        <img src="img/meftah.png" alt="Developed by Meftah">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>