<footer>
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="social m-auto m-md-0">
                    <img src="img/brands/clinica-anglo-americana-alt.png" alt="Clínica Anglo Americana">
                    <p class="fs-12 fw-medium fc-white opacity-4 my-4">
                        Now, if you are interested in being the best player, getting really good money and knowing some
                        tricks and
                        advices of what to do in a live.
                    </p>
                    <div class="social-networks">
                        <a href="#">
                            <i class="flaticon-facebook-logo mr-3"></i>
                        </a>
                        <a href="#">
                            <i class="flaticon-twitter mr-3"></i>
                        </a>
                        <a href="#">
                            <i class="flaticon-instagram"></i>
                        </a>
                    </div>
                    <p class="fs-13 fw-medium fc-white opacity-4 mt-4">© 2019 Auspicios</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="contact m-auto">
                    <p class="fs-23 fc-white mt-5 mt-md-3 mb-5">Contact</p>
                    <ul class="fs-13 fw-medium fc-white opacity-4">
                        <li class="mb-4">mail@auspicios.com</li>
                        <li class="mb-4">483 Feeney Burgs</li>
                        <li>854-590-1221</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-md-0">
                <div class="newsletter m-auto ml-md-auto">
                    <p class="fs-23 fc-white mt-5 mt-md-3 mb-5">Newsletter</p>
                    <p class="fs-12 fw-medium fc-white opacity-4 my-4">
                        Don’t miss a thing! sign up to recive daily news
                    </p>
                    <div class="form-group position-relative">
                        <label for="email">Enter e-mail address</label>
                        <input type="text" id="email" class="form-control" autocomplete="off">
                    </div>
                    <div class="meftah">
                        <img src="img/meftah.png" alt="Developed by Meftah">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>