<footer>
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="social m-auto m-md-0">
                    <p class="ff-axia fs-23 fc-white mt-5 mt-md-3 mb-5">
                        Redes Sociales
                    </p>
                    <div class="social-networks">
                        <a href="#">
                            <i class="flaticon-facebook-logo mr-3"></i>
                        </a>
                        <a href="#">
                            <i class="flaticon-twitter mr-3"></i>
                        </a>
                        <a href="#">
                            <i class="flaticon-linkedin"></i>
                        </a>
                    </div>
                    <p class="fs-13 fw-medium fc-white opacity-4 mt-4">© 2019 Clinica Anglo Americana</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="contact m-auto">
                    <p class="ff-axia fs-23 fc-white mt-5 mt-md-3 mb-5">Contacto</p>
                    <ul class="fs-13 fw-medium fc-white opacity-4">
                        <li class="mb-4">foro2020@angloamericana.com.pe</li>
                        <li>Teléfono : 610 7272 (opcion 1)</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-5 mb-md-0">
                <div class="newsletter m-auto ml-md-auto">
                    <p class="ff-axia fs-23 fc-white mt-5 mt-md-3 mb-5">Auspicios</p>
                    <p class="fs-12 fw-medium fc-white opacity-4 lh-15 my-4">
                        Conoce más de nuestros paquetes de auspicios.<br>
                        <a href="#" data-toggle="modal" data-target="#auspiciosModal" class="fc-white fw-bold">Contactanos</a>
                    </p>
                    <div class="meftah">
                        <a href="http://meftahstudio.com"><img src="img/meftah.png" alt="Developed by Meftah"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="auspiciosModal" tabindex="-1" role="dialog" aria-labelledby="auspiciosModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="ff-axia fw-normabsoluteal fs-30" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="auspicios" action="">
                        <div class="form-group row justify-content-md-center">
                            <div class="col-9 mb-5">
                                <label for="greeting">Nombre</label>
                                <input type="text" id="name" class="form-control" required="true">
                            </div>
                            <div class="col-9 mb-5">
                                <label for="name">Empresa</label>
                                <input type="text" id="company" class="form-control" required="true">
                            </div>
                            <div class="col-9">
                                <label for="name">Correo</label>
                                <input type="email" id="email" class="form-control" required="true">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnAuspicios" type="button" class="btn dark" data-dismiss="modal" aria-label="Close">
                        Enviar
                        <i class="flaticon-arrow-point-to-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>