footer {
    position: relative;
    padding: 3rem;
    background-color: $dark-blue;

    .social, .contact, .newsletter {
        max-width: 250px;
    }

    .opacity-4 {
        opacity: 0.4;
    }

    .lh-15 {
        line-height: 1.5;
    }

    .form-group {
        label {
            position: absolute;
            top: 10px;
            left: 0;
            color: $white;
            opacity: 0.4;
            font-size: 13px;

            &.active {
                opacity: 1;
                transform: translate(-12px, -20px) scale(.8);
            }
        }

        input {
            padding-left: 0;
            color: $white;
            font-size: 13px;
            border: none;
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.4);

            &.active {
                color: $white;
                border-color: $white;   
            }
        }
    }

    .meftah {
        position: absolute;
        bottom: -75px;
        right: 0;

        @media (min-width: 992px) {
            bottom: -30px;
        }
    }
    
    .modal{
        .modal-dialog{
            .modal-content{
                .modal-body{
                    text-align: left;
                    .form-group {

                        label {
                            color: #000;
                            font-size: 15px;
                            position: relative;
                        }
                
                        input {
                            color: #000;
                            font-size: 15px;
                            border-bottom: 1px solid rgba($color: $grey, $alpha: 0.4);
                            width: 100%;
                            text-align: left;
                            &.active {
                                // color: $white;
                                border-color: $grey;   
                            }
                        }
                    }
                }
            }
        }
    }
    
}

