.schedule {
    .background {
        background-image: url('../img/backgrounds/schedule.jpg');
    }

    .diary {
        position: relative;
        
        /*.twilight-blue-subtitle {
            max-width: 430px;
        } */

        .days {

            .day {
                width: 290px;
                margin: 0 auto;
                background-color: $white;
                border: 0.3px solid #979797;

                > div {
                    padding: 1rem;
    
                    &.time {
    
                        &.green { background-color: $green; }
                        &.turquoise { background-color: $turquoise; }
                        &.fuchsia { background-color: $fuchsia; }
                    }
                } 
            }
        }
    }
}