<section class="schedule">
    <section class="background view">
        <h1 class="title-with-stroke">
            <span>Nuestro</span>
            <span>Programa</span>
        </h1>
    </section>
    <section class="diary">
        <div class="container trama">
            <h2 class="gold-title mb-0">Agenda</h2>
            <h3 class="twilight-blue-subtitle">
                Sigue el cronograma <br>
                y horarios.
            </h3>
            <div class="days my-5">

                <div class="day">
                    <div class="text-center">
                        <p class="fs-22 fc-twilight-blue text-center">Wednesday</p>
                    </div>

                    <div class="time green">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                    <div class="time green">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                    <div class="time green">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                </div>

                <div class="day">
                    <div class="text-center">
                        <p class="fs-22 fc-twilight-blue text-center">Thusday</p>
                    </div>

                    <div class="time turquoise">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                    <div class="time turquoise">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                    <div class="time turquoise">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                </div>

                <div class="day">
                    <div class="text-center">
                        <p class="fs-22 fc-twilight-blue text-center">Friday</p>
                    </div>

                    <div class="time fuchsia">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                    <div class="time fuchsia">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                    <div class="time fuchsia">
                        <p class="fs-20 fc-medium fc-twilight-blue">Cecilia Roberts</p>
                        <p class="fs-15 fc-medium fc-twilight-blue">10.00 - 11.00</p>
                    </div>
                    <div class="description">
                        <p class="fs-15 fc-medium">Plenary Session: Laying the foundations for future success with the
                            new consumer</p>
                    </div>

                </div>

            </div>
        </div>
    </section>
</section>