.home {

    .main {
        min-height: 100vh;
        padding-top: 170px;
        padding-bottom: 100px;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        align-items: center;
        background-image: url('../img/backgrounds/home.jpg');
        background-color: rgba(23, 23, 23, 0.27);
        color: $white;
    
        .main-text {
            line-height: 30px;
            padding: 0.75rem 0;
            margin: 0.5rem 0;
            border-top: 1px solid $white;
            border-bottom: 1px solid $white;
        }

        p {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }
    }

    .countdown {
        margin-top: -100px;

        .timer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;            
            background-image: linear-gradient(
                to bottom, 
                rgba($color: $marine-blue, $alpha: 0.7) 0%,
                rgba($color: $marine-blue, $alpha: 0.7) 33.333%,
                $marine-blue 33.333%,
                $marine-blue 100%
            );
            
            li {
                width: 100%;
                padding: 10px;
                text-align: center;
                
                p {
                    color: $white;
    
                    &:first-child {
                        font-size: 13px;
                        font-weight: 500;
                    }
    
                    &:last-child {
                        font-size: 52px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .about {
        min-height: 100vh;

        .video-container {

            .video {
                position: relative;
                width: 100%;
                height: 320px;
                max-width: 450px;
                border-radius: 15px;
                box-shadow: 0 2px 25px 1px rgba(0, 0, 0, 0.08);
                outline: none;
                object-fit: cover;
            }
    
            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                width: 76px;
                height: 76px;
                transform-origin: center;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                backdrop-filter: blur(2px);
                background-color: rgba($color: $twilight-blue, $alpha: 0.6);
                -webkit-backdrop-filter: blur(2px);
                cursor: pointer;

                /*&.in {
                    animation: fade-in 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                }
    
                &.out {
                    animation: fade-out 0.3s ease-out both;
                }*/
    
                .icon {
                    position: absolute;
                    top: 23px;
                    left: 28px;
                    width: 30px;
                    height: 30px;
                    border-left: 30px solid $camel;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                }
            }
        }
    }

    .expositors {
    
        .slider {
            position: relative;
            padding: 1rem 2rem;
            border-radius: 15px;
            background-color: $twilight-blue;

            > div {
                img {
                    max-width: 500px;
                }
            }
        }
    }

    .schedule {

        .days {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            background-color: $white;

            .day {
                width: 290px;
                border: 1px solid $light-grey;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

                .name, .time, .description {
                    padding: 1rem;
                }
    
                .time {
                    &.green { background-color: $green; }
                    &.turquoise { background-color: $turquoise; }
                    &.fuchsia { background-color: $fuchsia; }
                }
            }
        }
    }

    .know-us {
        position: relative;
        padding: 7rem 1rem;
        background-image: url('../img/backgrounds/know-us.jpg');
        background-size: 100%;
        background-color: rgba(13, 54, 102, 0.42);
    }

    .sponsors {
        .item {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;

            .sponsor {
                padding: 1rem 1.5rem;
            }
        }

        .divider {
            width: 90%;
            height: 1px;
            margin: auto;
            background-color: $gold;
            opacity: 0.3;
        }
    }

}

@media (min-width: 769px) {
    .home {
        .main {
            .timer {
                li p {
                    &:first-child {
                        font-size: 13px;
                    }
    
                    &:last-child {
                        font-size: 52px;
                    }
                }
            }
        }

        .countdown {

            .timer {
                flex-direction: row;
                background-color: rgba($color: $marine-blue, $alpha: 0.7); 
                background-image: none;
                
                li {
                    flex-basis: 33.333%;
                    border-right: 1px solid $gold;
                }
            }
        }

        .about {
            .video-container { 
                .video {
                    height: 550px;
                }
            }
        }

        .expositors {
    
            .slider {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 0 4rem;

                > div {
                    flex: 1;
                    max-width: 500px;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .home {
        .schedule {
            .days {
                flex-direction: row;
                align-items: flex-start;

                .day:not(:last-child) {
                    margin-bottom: 0;
                }

                .collapse {
                    display: block !important;
                }
            }
        }
    }
}