.map {
    position: relative;
    display: flex;
    height: 500px;
    padding: 5rem 1rem;
    background-color: #37435c;

    #map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .card-place {
        position: relative;
        z-index: 2;
        width: 360px;
        margin: auto 0;
        padding: 3rem 1.5rem;
        text-align: center;
        border-radius: 15px;
        background-color: $white;
        box-shadow: 
            0 8px 10px -5px rgba(0, 0, 0, 0.2),
            0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 16px 24px 2px rgba(0, 0, 0, 0.14),
            0 1px 8px 0 rgba(0, 0, 0, 0.2),
            0 3px 3px -2px rgba(0, 0, 0, 0.12),
            0 3px 4px 0 rgba(0, 0, 0, 0.14);

        [class^="flaticon-"]:before {
            font-size: 30px;
        }
    }
}

@media (min-width: 769px) {
    .map {
        padding: 5rem;
    }
}