<section class="map">
    <div class="card-place">
        <p class="fs-40 fw-extra-bold fc-twilight-blue">
            Lugar
            <i class="flaticon-placeholder"></i>
        </p>
        <p class="fs-18 fw-bold fc-gold my-4">230 Ashley Causeway Suite 330</p>
        <p class="ff-axia fs-15 fc-grey">Llenate de confort y lujo en las instalciones de mayor prestigio en Lima.</p>
    </div>
</section>