@import './_variables.scss';

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;

    &.view {
        min-height: 85vh;
        padding-top: 154px;
    }
}


.trama {
    position: relative;

    > * {
        position: relative;
        z-index: 2;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url('../img/backgrounds/trama.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 70%;
    }    

    &.right {
        &::after {
            background-position: bottom right;
            background-image: url('../img/backgrounds/trama2.png');
        }
    }
}

.title-with-stroke {
    margin-bottom: 0;
    color: $white;
    font-size: 30px;
    font-weight: 900;

    span {
        display: block;
        margin-bottom: 1.25rem;
    }
    
    *:first-child {
        color: transparent;
        // text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
        -webkit-text-stroke: 1px $white;
    }
}


.gold-title {
    font-family: Axia;
    font-size: 20px;
    color: $gold;
}

.twilight-blue-title {
    font-size: 38px;
    font-weight: 800;
    color: $twilight-blue;
}

.twilight-blue-subtitle {
    font-size: 25px;
    font-weight: 500;
    color: $twilight-blue;
}

.grey-text {
    font-size: 15px;
    font-weight: 500;
    color: $grey;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    line-height: normal;
}

p {
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    color: $grey;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.btn {
    display: inline-block;
    width: max-content;
    padding: 1rem 1.5rem;
    border-radius: 40px;
    letter-spacing: 0.3px;
    box-shadow: 0 0 30px 11px rgba(0, 0, 0, 0.05);
    transition: all 200ms ease-in;

    &:focus {
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    }

    &.light {
        background-color: $white;
        color: rgba($color: $twilight-blue, $alpha: 0.6);

        &:hover {
            background-color: $marine-blue;
            color: $white;
        }
    }

    &.dark {
        background-color: $marine-blue;
        color: $white;

        &:hover {
            background-color: $white;
            color: rgba($color: $twilight-blue, $alpha: 0.6);
        }
    }
}

.pointer {
    cursor: pointer;
}

.social-networks {
    i {
        color: $white;

        &::before {
            font-size: 24px;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

[class^="flaticon-"]:before {
    margin-left: 0px;
    font-size: 14px;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    opacity: 1;

    .flaticon-arrow-point-to-right {
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        background-color: $white;

        &::before {
            color: $twilight-blue;
        }

        &.rotate {
            transform: rotate(180deg);
        }
    }
}

@media (min-width: 769px) {
    .container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .background {
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .title-with-stroke {
        *:first-child {
            -webkit-text-stroke: 1.5px $white;
        }
    }

    .gold-title {
        font-size: 23px;
    }

    .twilight-blue-title {
        font-size: 54px;
    }

    .twilight-blue-subtitle {
        font-size: 30px;
    }

    .title-with-stroke {
        font-size: 68px;
    }

    .trama::after {
        background-size: auto;
    }
}


@media (min-width: 992px) {

    .twilight-blue-subtitle {
        font-size: 40px;
    }
}