$green: #4ae373;
$fuchsia: #ff61de;
$dark-blue: #00172b;
$twilight-blue: #0d3666;
$marine-blue: #003563;
$warm-blue: #3b4fcf;
$purpleish-blue: #6454f0;
$lightblue: #6ee2f5;
$turquoise: #47e6db;
$dark-grey: #202020;
$grey: #6f6f6f;
$high-grey: #d4d4d4;
$light-grey: #979797;
$brownish-grey: #5c5c5c;
$mine-grey: #363636;
$steel: #8e8e93;
$black: #191919;
$black-5: rgba(0, 0, 0, 0.05);
$camel: #c1a23d;
$white: #ffffff;
$white-two: #d8d8d8;
$twilight-blue: #0d3666;
$marine-blue: #003563;
$dark-blue: #00172b;
$dark-grey: #202020;
$light: #d8d8d8;
$background-light: #f6f6f6;
$white: #ffffff;

.ff-axia {
    font-family: Axia;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-15 {
    font-size: 15px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-30 {
    font-size: 30px;
}

.fs-34 {
    font-size: 34px;
}

.fs-40 {
    font-size: 40px;
}

.fs-54 {
    font-size: 54px;
}

.fs-68 {
    font-size: 68px;
}

.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-extra-bold {
    font-weight: 800;
}

.fw-black {
    font-weight: 900;
}

.fc-white {
    color: $white;
}

.fc-grey {
    color: $grey;
}

.fc-gold {
    color: $gold;
}

.fc-twilight-blue {
    color: $twilight-blue;
}